


#freeresults {
	font-family: 'Pirata One', cursive;
	text-align:center;
	color:white;
	font-size:30px;
	padding-top:10px;
}

#fform1 {
	font-family: 'Pirata One', cursive;
	font-size:30px;
	text-align:center;
	position:relative;
	top:-170px;
}

#fform2 {
	position:relative;
	top:-170px;
	text-align:center;
}

#freesubmit {
	color:red;
	font-weight:800;
	position:relative;
	top:-40px;
	right:-50px;
	text-align:center;
	z-index:5;
	width:350px;
	height:250px;
}

#salesubmit {
	color:red;
	font-weight:800;
	position:relative;
	top:-285px;
	left:210px;
	text-align:center;
}

.freesubmitClass[type=submit] {
    background:url('/static/free.png') no-repeat;
    background-size:80%;
    width:300px;
    height:160px;
    padding:0px 0 4px 0;
    border:none;
}

.salesubmitClass[type=submit] {
    background:url('/static/sale.png') 5%;
    width:490px;
    height:190px;
    padding:0px 0 4px 0;
    border:none;
}

#submitstuff {
	text-align:center;
	position:relative;
	top:250px;
}

#odd {
	margin:35px;
	background:url('/static/bubble.png');
	background-size:100% 102%;
	width:800px;
	margin-left:10px;
	height:75px;

}

#even {
	margin:5px;
	background:url(http://www.abramsbooks.com/flowerpowerbooks/images/speechBubble_3.png);
	background-size:100% 97%;
	width:800px;
	margin-left:10px;
	height:75px;
}

#blurbpiceven {
	position:relative;
	
}
#free {
	position:relative;
	top:-140px;
	left:55px;
}


#free2 {
	position:relative;
	top:-163px;
	left:475px;
}

#blurbit {
	color:white;
	position:relative;
	top:-146px;
	text-align:center;
}

#blurbs {
	color:black;
	background:rgba(235, 0, 225, 0.4);
	width:835px;
	height:385px;
	border: 5px solid rgba(104, 0, 156, 0.8);
	overflow-x:hidden;
	overflow-y:scroll;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:-130px;
}

#mybookstitle {
	font-family: 'Pirata One', cursive;
	position:relative;
	top:0px;
	font-size:30px;
	text-align:center;
	
}

#mybooksforsale {
	width:687px;
	border:1px solid white;
	height:100px;
	background:black;
	overflow-y:scroll;
	overflow-x:hidden;
	padding:0px;
	margin:1px 10px 10px 10px;
}

#success {
	font-family: 'Pirata One', cursive;
	text-align:center;
	position:relative
	top:-70px;
	font-size:80px;
}

#department {
	position:relative;
	top:-220px;
	font-size:20px;
	color:gray;
	left:5px;
}

#phone {
	position:relative;
	top:-180px;
	left:5px;
	text-align:center;
}

#condition {
	position:relative;
	top:-135px;
	left:5px;
	width:370px;
	height:170px;
	overflow:hidden;
	word-wrap:break-word;
}

#price {
	position:relative;
	left:365px;
	width:150px;
	height:100px;
	text-align:center;
}

#bookinfo {
	overflow:hidden;
}

#bookinfotext {
	font-family: 'Pirata One', cursive;
	padding:10px;
	font-size:30px;
}

#price {
	
}

#bookpic {
	position:relative;
	top:-458px;
	left:25px;
}

#bookinfo {
	width:525px;
	height:335px;
	background:purple;
	border: 3px solid black;
	position:relative;
	top:-120px;
	left:325px;
}

#titleee {
	font-family: 'Pirata One', cursive;
	font-size:40px;
	position:relative;
	top:-145px;
	text-align:center;
}

#regtop {
	font-family: 'Pirata One', cursive;
	font-size:25px;
	position:relative;
	top:-433px;
	right:-60px;
}

#regall {
	font-family: 'Pirata One', cursive;
	font-size:15px;
	position:relative;
	top:-380px;
	right:-100px;
	color:#F5000C;
	width:125px;
}

#log1 {
	font-family: 'Pirata One', cursive;
	font-size:28px;
	color:#F5000C;
	position:relative;
	left:80px;
	top:-460px;
	width:150px;
	height:100px;
	text-align:center;
}

#log2 {
	font-family: 'Pirata One', cursive;
	font-size:20px;
	color:#F5000C;
	position:relative;
	left:480px;
	top:-575px;
	width:350px;
	height:100px;
	text-align:center;
}

#log3 {
	font-family: 'Pirata One', cursive;
	font-size:20px;
	color:#F5000C;
	position:relative;
	left:480px;
	top:-578.5px;
	width:350px;
	height:100px;
	text-align:center;
}

#moresoon {
	font-family: 'Pirata One', cursive;
	position:relative;
	top:3px;
	font-size:50px;
	text-align:center;
}

#status {
	font-family: 'Pirata One', cursive;
	font-size:35px;
	position:relative;
	top:-955px;
	left:250px;
	height:20px;
}

#regtitle {
	font-family: 'Pirata One', cursive;
	font-size:50px;
	text-align:center;
	position:relative;
	top:-135px;
}

.submitreg[type=submit] {
	background:url(/static/register.png) no-repeat; 
	width:150px;
	height:150px;
	position:relative;
	top:-30px;
	right:285px;
	background-size: contain;
	padding:0px 0 4px 0; 
	border:none; 
	cursor:pointer;
}

.submit[type=submit] {
	width:125px; 
	height:100px; 
	background:url(/static/login.png) no-repeat; 
	position:relative;
	top:15px;
	background-size: contain;
	padding:0px 0 4px 0; 
	border:none; 
	cursor:pointer;
}

#regform {
	text-align:center;
	position:relative;
	top:-160px;
	font-family: 'Pirata One', cursive;
	font-size:25px;
	
}

#blockedsell {
	font-family: 'Pirata One', cursive;
	font-size:60px;
	text-align:center;
	position:relative;
	top:-50px;
}

#registrationform {
	font-family: 'Pirata One', cursive;
	position:relative;
	top:-140px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background:black;
}

#register {
	float:left;
	padding:10px;
	margin:10px;
}

#registerlogin {
	position:relative;
	top:0px;
	padding:-10px;
	margin-left:auto;
	margin-right:auto;
}

#pages {
	width:300px;
	height:300px;
	background:black;
	top:-100px;
	right:200px;
}

#signingup {
	position:relative;
	top:-40px;
}

#loggedin a:hover {text-decoration:none;}
#loggedin a:active {text-decoration:none;}
#loggedin a:visited {text-decoration:none;}
#loggedin a:link {text-decoration:none;}

#loggedin {
	text-decoration:none;
	background:rgba(235, 0, 225, 0.5);
	width:193px;
	height:30px;
	float:right;
	position:relative;
	top:-90px;
	left:5px;
	/*top:410px;
	left:5px;*/
	z-index:100;
	border-top: 5px solid rgba(104, 0, 156, 0.8);
	border-left: 5px solid rgba(104, 0, 156, 0.8);
	border-bottom: 5px solid rgba(104, 0, 156, 0.8);
	border-right: 5px solid rgba(104, 0, 156, 0.8);
}

#loggedin2 {
	font-family: 'Pirata One', cursive;
	font-size:20px;
	color:yellow;
	text-align:center;
	position:relative;
	top:1px;
}

#loggedin3 {
	margin-top:7.5px;
	font-size:20px;
	font-family: 'Pirata One', cursive;
	color:yellow;
	text-align:center;
	position:relative;
	top:-5.5px;
}

#booksonsale {
	width:400px;
	height:300px;
	background:black;
	margin-left:auto;
	margin-right:auto;
	
}

#rezult span.item {
	width:115.5px;
	border-right: 5px solid rgba(104, 0, 156, 0.5);
	border-bottom: 5px solid rgba(104, 0, 156, 0.5);
	overflow:hidden;
	color:#C4C4C4;
	float:left;
}

#rezult1 span.item1 {
	float:left;
	width:115.5px;
	overflow:hidden;
	border-right: 5px solid purple;
	border-bottom: 5px solid purple;
}

#rezult {
	font-family: 'Pirata One', cursive;
	font-weight:300px;
	font-size:30px;
	text-align:center;
	height:40px;
}

#rezult1 {
	font-family: 'Pirata One', cursive;
	font-weight:600px;
	font-size:30px;
	text-align:center;
	height:40px;
	border-bottom: 5px solid purple;
}

#resultstalk {
	font-family: 'Pirata One', cursive;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:30px;
	position:relative;
	float:left;
	top:-147px;
	padding-left:35px;
}

#resultstalk2 {
	font-family: 'Pirata One', cursive;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:30px;
	position:relative;
	float:right;
	top:-147px;
	padding-right:35px;
}

#ani1money {
	width:125px;
	height:125px;
	animation: 
	movement linear 5s infinite alternate; 
	-moz-animation: 
	movement linear 5s infinite alternate; 
	-webkit-animation: 
	movement linear 5s infinite alternate; 
	-o-animation: 
	movement linear 5s infinite alternate; 
	position:relative;
	top:-200px;
	z-index:3;
}

@keyframes movement {
	0% {background:rgba(255,255,255,0); left:0px;}
	100% {background:rgba(255,255,255,1); left:550px;}
	
}

#ani2book {
	width:125px;
	height:125px;
	position:relative;
	top:-390px;
	left:550px;
	animation: 
	movements linear 5s infinite alternate; 
	-moz-animation: 
	movements linear 5s infinite alternate; 
	-webkit-animation: 
	movements linear 5s infinite alternate; 
	-o-animation: 
	movements linear 5s infinite alternate; 
	z-index:1;
}

@keyframes movements {
	0% {background:rgba(255,255,255,0); left:550px}
	100% {background:rgba(255,255,255,1); left:0px}
	
}

#ani3 {
	width:270px;
	height:65px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	top:-295px;
	text-margin-top:20px;
	z-index:2;
}

#error {
	width:600px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:40px;
}

#error span.error {
	color:red;
	font-size:70px;
	font-weight:900;
}

#error span.text {
	color:black;
	font-size:16px;
	font-weight:500px;
}

#usedbooks {
	font-family: 'Pirata One', cursive;
	text-align:center;
	width:700px;
	height:430px;
	margin-left:auto;
	margin-right:auto;
	font-size:40px;
	position:relative;
	top:-130px;
}

#usedbooks span.title {
	position:relative;
	left:-210px;
	top:5px;
	z-index:10;
}

#usedbooks span.dept {
	position:relative;
	left:210px;
	top:-190px;
}

#usedbooks span.or {
	position:relative;
	left:15px;
	top:-285px;
}

#classname {
	font-family: 'Pirata One', cursive;
	font-size:44px;
	position:relative;
	width:600px;
	height:58px;
	top:-50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#comingsoon {
	color:red;
	font-weight:bold;
	margin-left:20px;
	position:relative;
	top:-65px;
	font-weight:800;
	font-size:25px;
	text-shadow:
	-3px -3px 0 #FFF,
	3px -3px 0 #FFF,
	-3px 3px 0 #FFF,
	3px 3px 0 #FFF;
}

#comingsoon .p {
	text-decoration:blink;
	color:red;
	font-size:80px;
	text-shadow: none;
}

#bookdescribe {
	position:relative;
	top:-70px;
}

@keyframes d {
	0% {background:rgba(130, 2, 193, 0); visibility:hidden; top:5px;}
	100% {visibility:visible; top:45px; background:rgba(162, 0, 242, 0.5);}
}
@keyframes e {
	0% {visibility:visible; top:45px; background:rgba(162, 0, 242, 0.5);}
	100% {visibility:hidden; top:0px; background:rgba(130, 2, 193, 0);}
}

@keyframes showtext {
	0% {visibility:hidden;}
	25% {visibility:hidden;}
	50% {visibility:hidden;}
	85% {visibility:visible;}
	100% {visibility:visible;}
}

@keyframes hidetext {
	0% {visibility:visible;}
	15% {visibility:hidden;}
	50% {visibility:hidden;}
	75% {visibility:hidden;}
	100% {visibility:hidden;}
}

div#sellform {
	position:relative;
	top:-142px;
	text-align:center;
}

div#navbar a:link {color:#F6FF00; text-decoration:none;}
div#navbar a:visited {color:#F6FF00; text-decoration:none;}

div#navbar1 a:link {color:#F6FF00; text-decoration:none;}
div#navbar1 a:visited {color:#F6FF00; text-decoration:none;}

div#navbar2 a:link {color:#F6FF00; text-decoration:none;}
div#navbar2 a:visited {color:#F6FF00; text-decoration:none;}

div#navbar3 a:link {color:#F6FF00; text-decoration:none;}
div#navbar3 a:visited {color:#F6FF00; text-decoration:none;}

div#navbar4 a:link {color:#F6FF00; text-decoration:none;}
div#navbar4 a:visited {color:#F6FF00; text-decoration:none;}


#navbar1 {
	position:relative;
	text-align:center;
	float:left;
	width:250px;
	font-family: 'Pirata One', cursive;
	font-size:34.15px;
	top:0px;
	border-bottom: 5px solid rgba(104, 0, 156, 0.5);
	border-right: 5px solid rgba(104, 0, 156, 0.5);
	z-index:10;
}

#navbar2 {
	position:relative;
	/*width:296px;*/
	width:250px;
	text-align:center;
	float:left;
	font-family: 'Pirata One', cursive;
	font-size:34.15px;
	top:0px;
	border-bottom: 5px solid rgba(104, 0, 156, 0.5);
	border-right: 5px solid rgba(104, 0, 156, 0.5);
	z-index:10;
}

#navbar3 { 
	position:relative;
	text-align:center;
	width:192px;
	float:left;
	font-family: 'Pirata One', cursive;
	font-size:34.15px;
	top:0px;
	border-bottom: 5px solid rgba(104, 0, 156, 0.5);
	border-right: 5px solid rgba(104, 0, 156, 0.5);
	z-index:10;
}

#navbar4 {
	position:relative;
	width:193px;
	float:left;
	font-family: 'Pirata One', cursive;
	font-size:34.15px;
	top:0px;
	border-left: 5px solid rgba(104, 0, 156, 0.5);
	border-bottom: 5px solid rgba(104, 0, 156, 0.5);
	z-index:10;
}

#welcomeh {
	font-family: 'Pirata One', cursive;
	color:white;
	text-align:center;
	position:relative;
	top:245px;
	margin-left:auto;
	margin-right:auto;
	font-size:25px;
}

div#signup a:hover {text-decoration:underline}
div#signup a:link {text-decoration:underline}
div#signup a:visited {text-decoration:underline}

div#signup {
	float:left;
	position:relative;
	left:71px;
	top:-56px;
}

div#video {
	float:left;
	position:relative;
	top:-140px;
	left:35px;
}

#entry {
	float: left;
	margin-left: 40px;
	margin-top: 26px;
	width: 100px;
	height: 40px;
	border: solid 2px white;
	font-family: 'Pirata One', cursive;
}

#entry span.d {
	position:relative;
	top:-1px;
	text-align:center;	
}

#NEWresults a:link {text-decoration:none}
#NEWresults a:hover {text-decoration:none}
#NEWresults a:active {text-decoration:none}
#NEWresults a:visited {text-decoration:none}

div#NEWresults {
	width:750px;
	height:510px;
	border: 5px solid purple;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:-75px;
	background:rgba(235, 0, 225, 0.5);
	overflow-x:hidden;
}

div#NEWtopbar a:link {color:#FFFFFF; text-decoration:none;}
div#NEWtopbar a:visited {color:#FFFFFF; text-decoration:none;}

div#NEWtopbar {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:400%;
	position:relative;
	top:-70px;
	font-family: 'Pirata One', cursive;
}

asdkjl#navbar a:hover {
	animation: m .5s; 
	animation-fill-mode: forwards;
	-moz-animation: m .5s, 
	-moz-animation-fill-mode: forwards;
	-webkit-animation: m .5s; 
	-webkit-animation-fill-mode: forwards;
	-o-animation: m .5s;
	-o-animation-fill-mode: forwards;
}

@keyframes m {
	0% {background:rgba(130, 2, 193, 0);}
	100% {background:rgba(162, 0, 242, 0.8);}
}

@keyframes k {
	0% {background:rgba(162, 0, 242, 0.8);}
	100% {background:rgba(130, 2, 193, 0);}
}

div#NEWcontainer {
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height:515px;
	border: 5px solid rgba(104, 0, 156, 0.5);
	position:relative;
	top:-140px;
	background: rgba(130, 2, 193, .5);
}

.submitB[type=submit] {
	background : url("http://minds.marlboro.edu/wp-content/themes/minds/library/images/homepage/buttons/off/submit.png") no-repeat center center;
        width : 200px;
        height :75px;
        border : none;
        color : transparent;
        background-size:100% 100%;

}


div#buyForm {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:-43px;
	width:400px;
	height:465px;
	background:#CF00E6;
}

div#all {
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	width:600;
	height:600;
	border: 3px solid white;
	overflow:hidden;

}

div#all2 {
	height:635px;
	overflow:hidden;
}

body {
margin:0;
background-repeat: no-repeat;
background-attachment:fixed;
background-size:100% 100%;
overflow:hidden;
}

div#topbar {
	margin-left:auto;
	margin-right:auto;
	height:100;
	background:#A900BF;
	z-index:-5;
}

div#title {
	text-align:center;
	padding-top:10px;
}

#profile {
	position:relative;
	top:-170px;
}

div#prof1 {
	width:100px;
	height:249px;
	background:#A900BF;
	position:relative;
	left:20px;
	top: 7px;
	border: 1px solid black;
	
}

div#prof2 {
	width:710px;
	height:365px;
	background:#A900BF;
	border: 1px solid black;
	position:relative;
	bottom: 360px;
	left:150px;
}

div#login {
	padding-left:40%;
	padding-top:3px;
}

div#content {
	width:580px;
	height:480px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:10px;
	background:#DD00FA;
}

div#seperator {
	width:5px;
	height:300px;
	background:#9500A8;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:140px;
}

div#welcome {
	width:800px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:-400px;
}

div#welcometext {
	text-align:center;
	font-weight:900;
}

div#buy {
	position:relative;
	top:55px;
	left:40px;
	width:220px;
	height:30px;
	background:#DD00FA;
}

div#buyimg {
	text-align:center;
	padding-top:10px;
}

div#go {
	float:right;
	position:relative;
	top:-4px;
}

div#go2 {
	padding-left:4px;
	float:right;
	position:relative;
	top:-2px;
}

div#sell {
	position:relative;
	top:25px;
	left:340px;
	width:220px;
	height:30px;
	background:#DD00FA;
}

div#sellimg {
	text-align:center;
	

}

div#bookresults {
	top:-200px;
	left:112px;
	position:relative;
	width:375px;
	height:190px;
	background:white;
	overflow-y:scroll;	
	text-align:center;
	color:purple;
}

div#sellForm {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:-42px;
	width:400px;
	height:465px;
	background:#CF00E6;
}

div#andor {
	position:relative;
	height:17px;
	width:50px;
	text-align:center;
	top:-350px;
	left:140px;	
}
