{% extends 'base.html' %}

{% block content %}

<div id=about>
ABOUT US!!!
<p>
We, Will Gallo, Zaw Htet, James Lott and David Raygoza, got an idea to do this poetexchange site in 2012 November.
This site is for students in Whittier College to be able to sell/buy books with reasonable price from one another on campus.
The concept of the site is to act as a marketplace where buyers and sellers can come and exchange their items, but
more secure as only Whittier College students can use this site.
</p>
Product
<p>
The concept of the site is to act as a marketplace where buyers and sellers can come and exchange their items, but
more secure as only Whittier College students can use this site.
There is also a new feature called "Blurb", where you can post short status, kinda like twitter.
</p>
Other<p>
The background we have right now is the photo of Deihl hall. If any of you guys want to send in your own photos of Whittier to be featured as the background image, you are more than welcome. If you want to send your artwork or any feedback about the site, contact to poetexchange@gmail.com </p>
</div> 










{% endblock %}
