<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>PoetExchange</title>
<link href='/static/main.css' media='screen' type='text/css' rel='stylesheet'>
<link rel="icon" type="image/gif" href="/static/favicon2.gif">
<link href='http://fonts.googleapis.com/css?family=Pirata+One' rel='stylesheet' type='text/css'>
<script src='/static/scripts.js' type='text/javascript'></script>
</head>
<body background='/static/background.JPG' onload='load()'>

<div id=all2>

<div id='NEWtopbar'><h3><font color='white'><a href='{% url home %}'>PoetExchange</a></h3></div>

<div id='NEWcontainer'>

<div id='navbar1' onmouseover="turnpurple1()" onmouseout="turnback1()" style='z-index:1'>
<a href='{% url books %}'>&nbsp&nbsp&nbspBuy Used Books&nbsp&nbsp&nbsp</a></div>

<div id='navbar2' onmouseover="turnpurple2()" onmouseout="turnback2()"><a href='{% url sellb %}'>&nbsp&nbsp&nbspSell Your Book&nbsp&nbsp</a></div>

<div id='navbar3' onmouseover="turnpurple3()" onmouseout="turnback3()"  style='border-right:none'><a href='{% url blurbs %}'>&nbsp&nbsp&nbsp&nbspBlurbs&nbsp&nbsp&nbsp</a></div>

<div id='navbar4' onmouseover="turnpurple4()" onmouseout="turnback4()"  style='border-right:none'><a href='{% url free %}'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFree Stuff</a></div>

<br><div id='loggedin' onmouseover='turnpurple5()' onmouseout='turnback5()'>
{% if user.is_authenticated %}
<div id=loggedin2>
<a href='/profile/5se7z529v169o{{user.id}}2u390cf9g76yhh4'><font color=#F6FF00>- Profile</font></a>&nbsp&nbsp&nbsp&nbsp
<a href="{% url logout %}"><font color=#F6FF00>- Log out</font></a><br>
</div>
{% else %}
<div id=loggedin3>

<a href="{% url login %}"><font color=#F6FF00>- Log in!</font></a></b>
</div>
{% endif %}
</div>
<br><br><br><br><br>


<br><br><br><br><br>

{% block content %}

{% endblock %}

</div>
</div>
</body>
</html>
