{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div id=blurbit>
<form method='POST' action=''>
<b>WassaHappenWitChu??:
<input id="something" type="text" maxlength="80" name="something" placeholder="Type Your Message">
&nbsp&nbsp&nbsp&nbspPost as: {{f.name}}
<input type='submit' value='Blurb it!' name='submit'>
</form>
</div>
{% else %}
<span class=zjnackjn style='position:relative; top:-150px; left:270px; font-family: "Pirata One", cursive; font-size:30px;'>
PLEASE <a href='{% url login %}' style='color:yellow;'>LOGIN</a> TO ADD YOUR BLURB!!
</span>
{% endif %}

<div id=blurbs>
{% for lol in blurbs reversed %}

{% if forloop.counter|divisibleby:2 %}

<div id=even>
{% if user.is_authenticated %}
<br><center><b>{{lol.id}}. "{{lol.blurb}}"<br>
{% if not lol.blurber == 'Annonymous' %}
{% if lol.username.gender == 'M' %}<span class=maleeven style='position:relative; top:-40px; right:170px;'><br><br><img src='/static/derp.png' width=65px height=65px></center></span><span class=maleeventext style='position:relative; top:-80px; left:273px;'> - {{lol.blurber}}</span>
{% elif lol.username.gender == 'F' %}<span class=femaleeven style='position:relative; top:0px; right:120px;'><img src='/static/derpette.png' width=65px height=65px>
<span class=femaleeventext style='position:relative; top:-15px'>- {{lol.blurber}}</span>{% endif %} </center>
{% else %}<span class=annonymouseven style='position:relative; right:165px;'><img src='/static/annonymous.png' width=65px height=65px></span>{% endif%}
{% else %}<br><center><b>#{{lol.id}}. "{{lol.blurb}}"<br>{% endif %}
</div>

{% else %}
<div id=odd>
{% if user.is_authenticated %}
<br><center><b>{{lol.id}}. "{{lol.blurb}}"<br>
{% if not lol.blurber == 'Annonymous' %}
{% if lol.username.gender == 'M' %}<span class=maleodd style='position:relative; top:5px; left:300px;'><img src='/static/derp.png' width=65px height=65px></center></span><span class=maleoddtext style='position:relative; top:-35px; left:560px; text-align:left;'>{{lol.blurber}} -</span>
{% elif lol.username.gender == 'F' %}<span class=femaleoddtext style='position:relative; top:-10px; left:260px;'>{{lol.blurber}} - </span><span class=femaleodd style='position:relative; top:0px; left:260px'><img src='/static/derpette.png' width=65px height=65px></span>{% endif %} </center>
{% else %}<span class=annonymousodd style='position:relative; left:305px; top:5px'><img src='/static/annonymous.png' width=65px height=65px></span>{% endif %}
{% else %}<br><center><b>#{{lol.id}}. "{{lol.blurb}}"<br>{% endif %}
</div>

{% endif %}
</b>
{% endfor %}
</div>

<div id=blurblogin>
PLEASE LOGIN TO SEE THESE DISCUSSIONS
</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var supportOnInput = 'oninput' in document.createElement('input');
	$("input[maxlength]").each(function(){
		var $this = $(this);
		var maxLength = parseInt($this.attr('maxlength'));
		$this.attr('maxlength', null);

		var e1 =$("<span class=\"character-count\">" + maxLength + "</span>");
		e1.insertAfter($this);
		$this.bind(supportOnInput ? 'input' : 'keyup', function() {
			var cc = $this.val().length;
			e1.text(maxLength - cc);
			if (maxLength < cc ){
				e1.css('color', 'red');
			} else {
				e1.css('color', null);
			}
		});
});
</script>

{% endblock %}
