{% extends 'base.html' %}

{% block content %}

<div id=titleee>
{{book.title}}
</div>

<div id=bookinfo>
<div id=bookinfotext>
<div id=price>Price: <font color=#21E010><br>${{book.price}}</font></div><br>
<div id=condition>Conditon: <br>{{book.condition}}</div><br>
<div id=phone>Want to buy this book?<br>Contact the seller at:<br>

{% if user.is_authenticated %}{{book.phone}}{% else %}=<a href="{% url login %}" style=color:cyan>LOGIN</a> to see!={% endif %}</div><br>

<div id=department>This book is in the {{book.department}} Department
</div>
</div>
</div>

<div id=bookpic>
{% if book.department == 'ANTH' %}
<img src='/static/deptpics/ANTH.png' width=275px height=335px>
{% elif book.department == 'ART' %}
<img src='/static/deptpics/ART.png' width=275px height=335px>
{% elif book.department == 'BIOL' %}
<img src='/static/deptpics/BIOL.png' width=275px height=335px>
{% elif book.department == 'BSAD' %}
<img src='/static/deptpics/BSAD.png' width=275px height=335px>
{% elif book.department == 'CHDV' %}
<img src='/static/deptpics/CHDV.png' width=275px height=335px>
{% elif book.department == 'CHEM' %}
<img src='/static/deptpics/CHEM.png' width=275px height=335px>
{% elif book.department == 'CHIN' %}
<img src='/static/deptpics/CHIN.png' width=275px height=335px>
{% elif book.department == 'COSC' %}
<img src='/static/deptpics/COSC.png' width=275px height=335px>
{% elif book.department == 'ECON' %}
<img src='/static/deptpics/ECON.png' width=275px height=335px>
{% elif book.department == 'EDUC' %}
<img src='/static/deptpics/EDUC.png' width=275px height=335px>
{% elif book.department == 'ENGL' %}
<img src='/static/deptpics/ENGL.png' width=275px height=335px>
{% elif book.department == 'ENST' %}
<img src='/static/deptpics/ENST.png' width=275px height=335px>
{% elif book.department == 'ENVS' %}
<img src='/static/deptpics/ENVS.png' width=275px height=335px>
{% elif book.department == 'FILM' %}
<img src='/static/deptpics/FILM.png' width=275px height=335px>
{% elif book.department == 'FREN' %}
<img src='/static/deptpics/FREN.png' width=275px height=335px>
{% elif book.department == 'GCS' %}
<img src='/static/deptpics/GCS.png' width=275px height=335px>
{% elif book.department == 'GWS' %}
<img src='/static/deptpics/GWS.png' width=275px height=335px>
{% elif book.department == 'HIST' %}
<img src='/static/deptpics/HIST.png' width=275px height=335px>
{% elif book.department == 'INTD' %}
<img src='/static/deptpics/INTD.png' width=275px height=335px>
{% elif book.department == 'JAPN' %}
<img src='/static/deptpics/JAPN.png' width=275px height=335px>
{% elif book.department == 'KNS' %}
<img src='/static/deptpics/KNS.png' width=275px height=335px>
{% elif book.department == 'MATH' %}
<img src='/static/deptpics/MATH.png' width=275px height=335px>
{% elif book.department == 'MUS' %}
<img src='/static/deptpics/MUS.png' width=275px height=335px>
{% elif book.department == 'PHIL' %}
<img src='/static/deptpics/PHIL.png' width=275px height=335px>
{% elif book.department == 'PHYS' %}
<img src='/static/deptpics/PHYS.png' width=275px height=335px>
{% elif book.department == 'PSYC' %}
<img src='/static/deptpics/PSYC.png' width=275px height=335px>
{% elif book.department == 'REL' %}
<img src='/static/deptpics/REL.png' width=275px height=335px>
{% elif book.department == 'SOC' %}
<img src='/static/deptpics/SOC.png' width=275px height=335px>
{% elif book.department == 'SOWK' %}
<img src='/static/deptpics/SOWK.png' width=275px height=335px>
{% elif book.department == 'SPAN' %}
<img src='/static/deptpics/SPAN.png' width=275px height=335px>
{% elif book.department == 'THEA' %}
<img src='/static/deptpics/THEA.png' width=275px height=335px>
{% elif book.department == 'WSP' %}
<img src='/static/deptpics/WSP.png' width=275px height=335px>
{% endif %}

</div>








{% endblock %}
