{% extends 'base.html' %}

{% block content %}

<div id='resultstalk'>
<form method='POST' action=''>
<div id='word' style='float:left'>Title Search:&nbsp</div>{{f.title}}&nbsp<input type='submit' name='q' value='Go!'>
</form></div>

<div id='resultstalk2'>
<form method='POST' action=''>
Browse Departments: {{f.department}}
&nbsp<input type='submit' name='w' value='Go!'>
</form></span></div>

<div id='NEWresults' style='overflow-y:scroll; overflow-x:hidden; height:370px; width:800px; top:-135px; margin-right:auto; margin-left:auto;'>
<div id='rezult1'>
<span class='item1' style='width:353px'>Title</span>
<span class='item1' style='width:80px'>Price</span>
<span class='item1'>Condition</span>
<span class='item1' style='width:80px'>DEPT</span>
<span class='item1' style='width:125px; border-right:none;'>Phone</span>
{% for r in results reversed %}
<div id='rezult'>
<span class='item' style='width:353px; height:40px'>
<a href='book/{{r.id}}'><font color=#0DA2FF><u>{{r.title}}</u></font></a></span>
<span class='item' style='color:#21E010; width:80px'>${{r.price}}</span>
<span class='item'>{{r.condition}}</span>
<span class='item' style='width:80px'>{{r.department}}</span>

{% if user.is_authenticated %}
<span class='item' style='width:125px; border-right:none; font-size:29px;'>{{r.phone}}</span><br>
{% else %}
<span class='item' style='width:125px; border-right:none; font-size:29px;'><a href='{% url login %}' style='color:#B50009; text-decoration:underline'>LOGIN</a><font color='red'> to see</font></span><br>
{% endif %}

<br>
<br>
</div>
{% endfor %}
</div>

{% endblock %}
