{% extends 'base.html' %}

{% block content %}

<div id='comingsoon'>
Dude, I said "Coming Soon," okay???
That means it's not here yet! So go away!
<br><br><center><span class='p'>>:(</span></center>
</div>

{% endblock %}
