{% extends 'base.html' %}

{% block content %}

<div id='error'>
<span class='error'>Error.</span><br><br>
<span class='text'>Idk what happened, but ERROR. Sorry dude/dudet, i'm tryina make this site perfect, but am not quite there yet.</span>
</div>


{% endblock %}
