{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div id=fform1>
<h2>Describe the item you want to give away!</h2>
</div>

<div id=fform2>
<form method=POST action=''>
{{f.name}}<br><br>
{{f.description}}<br><br>
{{f.phone}}<br><br>
<input type=submit value="Post it!" name='freepost'>
{% else %}
<div id='blockedsell'>
Please <a href='{% url login %}'>LOGIN</a><br> to post your stuff!
</div>
{% endif %}
</form>
</div>


{% endblock %}
