{% extends 'base.html' %}

{% block content %}

<div id=free>
<form method=POST action=''>
Add Your Item!! -->  {{f.itemType}} <input type=submit value=Go! name=k>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</form>
</div>

<div id=free2>
<form method=POST action=''>
Show Only: &nbsp&nbsp&nbsp<input type=submit value='Free Stuff' name=freeStuff>&nbsp&nbsp&nbsp&nbsp&nbsp<input type=submit value='Stuff For Sale' name=saleStuff>
</form>
</div>

<div id=blurbs style='height:380px; top:-150px;'>
{% for i in item %}
<div id=freeresults>
{{i.name}}<br>
<font color=#C2C2C2 size=5>{{i.description}}</font><br>
{% if i.price %}
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font color=#21E010>$ {{i.price}}</font> Call or Text --> <font color=#C2C2C2>{{i.phone}}</font><hr>
{% elif not i.price %}
<font color=#C2C2C2><font color=#21E010>FREE!</font><font color=white> Call or Text --></font> {{i.phone}}</font><hr>
{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
