{% extends 'base.html' %}

{% block content %}

<div id='welcomeh'>
<a href='{% url about %}' style=text-decoration:none><font color=white>Coders: <font color=#00FF1E>James Lott, </font><font color=cyan>Zaw Myo Htet,</font> <font color=#FF7700>David Raygoza </font>and <font color=black>Will Gallo III</font></a>
</div>


<center><div id='video'>
{% if user.is_authenticated %}
<img src='/static/pex.png' width="560" height="315" border='1px solid black' style='position:relative; top:-20px;'>
{% else %}
<img src='/static/pex.png' width="560" height="315" border='1px solid black'>
{% endif %}
</div>

{% if user.is_authenticated %}
<div id=welcomeloggedin style='position:relative; top:-40px; left:15px;'>
<h3>Welcome!</h3>
Thanks for logging in!
</div>
{% else %}
<div id='signup'><h3>Sign Up :)</h3>
<form method='POST' action='.'>
{{form.uname}}@poets.whittier.edu
</b><br><br><input type='submit' value='submit' size='3' name='emailLink'>
{% endif %}
</center>
</form>
</div>

{% endblock %}
