{% extends 'base.html' %}

{% block content %}

<div id='regform'>

<h1>Welcome, Please Log in!</h1>


<form method='POST' action=''>

<div id='registerlogin' style=z-index:10>
        <p><label for='username'{% if form.username.errors %} class='error'{% endif %}>Username:</label></p>
        <p>{{ f.username }}</p>
</div>

<div id=registerlogin style=z-index:10>
        <p><label for='password'{% if form.password.errors %} class='error'{% endif %}>Password:</label></p>
        <p>{{ f.password }}</p>

<input type='submit' class=submit value=' '>
</div>
</form>

</div>

<div id='log1'>
{% if f.errors %}<p>Please Correct<br>the following fields --></p>{% endif %}
</div>

<div id='log2'>
        {% if f.username.errors %}<p class='error'>{{ f.username.errors }} </p>{% endif %}
</div>

<div id='log3'>
        {% if f.password.errors %}<p class='error'>{{ f.password.errors }} </p>{% endif %}
</div>


{% endblock %}
