{% extends 'base.html' %}

{% block content %}

<div id=blahhh style='position:relative; top:-160px; left:20px; width:800px;'>
<h2>To DO NOW:<br>
 - <font color=#FC000D>MAKE THE VIDEO!!!!</font><br>
 - MAKE POSTERS TO ADVERTISE WITH!!! BIG & SMALL!!<br>
 - PUT IT AS HOMEPAGE ON SCHOOL COMPUTERS!!<br><br><br>


To DO AFTER LAUNCH:<br>
 - Add 'About the Team' Page<br>
 - Rebuild the kPoet Internet Radio Station, add to our site<br>
 - Student Government tab?<br>
 - make /archives part with all our old pics and how our site evolved!!<br><br><br>

<font color=blue>Have ZAW teach WILL Git, <a href='http://www.sqlite.org/'>SQL,</a> C and C++ stuff!!</font>
</div>







{% endblock %}
