{%extends 'home.html'%}

{%block content%}

<div id='profile'>
<h1>&nbsp&nbsp{{Account.name}}<font size='1'>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp...{% if Account.gender == 'M' %}he's {% else %}she's{% endif %}cool</font></h1>
{% if Account.gender == 'F' %}
&nbsp&nbsp&nbsp&nbsp<img src='/static/derpette.png' width='100' height='100'>
{% elif Account.gender == 'M' %}
&nbsp&nbsp&nbsp&nbsp<img src='/static/derp.png' width='100' height='100'>
{% endif %}

<div id='prof1'>
<b><br>&nbspInterests:</b>
<br><br>&nbspPoetEx<br>&nbspWillClub<br>&nbspJamesClub<br>&nbspZawClub<br>&nbspDavidClub<br>&nbspStudying<br>&nbspIDK
</div>

<div id='prof2'>
<div id=mybookstitle>
<center>-- My Active Book Listings --</center>
<div id=mybooksforsale>
{% if books %}
{% for a in books %}
<hr><a href='/book/{{a.id}}'>{{a.title}}</a>&nbsp&nbsp&nbsp&nbsp&nbsp<font color=green>${{a.price}}</font><br><hr>
{% endfor %}
{% endif %}
</div>
<div id='moresoon'>
<font color=yellow>Coming Soon:<br></font>More features, like Bios, Messaging, Statuses, Event Calendars... etc.<br>
</div>
</div>
</div>

{% if Account.status %}
<div id='status'> - "{{Account.status}}"</div>
{% endif %}

{%endblock%}
