{% extends 'base.html' %}

{% block content %}

<div id=regtitle>Register a New Account :)</div>

<div id='registrationform'>

<form method='POST' action=''>

<div id='register'>

        <p><label for='username'{% if form.username.errors %} class='error'{% endif %}>Username:</label></p>
        <p>{{ f.username }}</p>
</div>

<div id='register'>
        <p><label for='email'{% if form.email.errors %} class='error'{% endif %}>Email: where you can be reached easily</label></p>
        <p>{{ f.email }}</p>
</div>

<div id='register'>
        <p><label for='name'{% if form.name.errors %} class='error'{% endif %}>Name:</label></p>
        <p>{{ f.name }}</p>
</div>

<div id='register'>
        <p><label for='password'{% if form.password.errors %} class='error'{% endif %}>Password:</label></p>
        <p>{{ f.password }}</p>
</div>

<div id='register'>
        <p><label for='password1'{% if form.password1.errors %} class='error'{% endif %}>Verify Password: </label></p>
        <p>{{ f.password1 }}</p>
</div>

<div id='register'>
        <p><label for='name'{% if form.gender.errors %} class='error'{% endif %}>Sex:</label></p>
        <p>{{ f.gender }}</p>
</div>
</div>

<div id=submitreg>
<p><input type='submit' class=submitreg value=' '></p>
</div>

</form>

<div id=regtop>
	{% if f.errors %}<font color='red'><b>ERROR.</font><font color='black'> Either your passwords don't match, or the error is described below.</b></font>{% endif %}
</div>

<div id=regall>
        {% if f.username.errors %}<p class='error'><b><font color='black'>{{ f.username.errors }}</b></font>{% endif %}
        {% if f.email.errors %}<p class='error'><b><font color='black'>{{ f.email.errors }}</font></b>{% endif %}
	{% if f.name.errors %}<p class='error'><b><font color='black'>{{ f.name.errors }}</font></b>{% endif %}
	{% if f.password.errors %}<p class='error'><b><font color='black'>{{ f.password.errors }}</font></b>{% endif %}
	{% if f.password1.errors %}<p class='error'><b><font color='black'>{{ f.password1.errors }}</font></b>{% endif %}
	{% if f.gender.errors %}<p class='error'><b><font color='black'>{{ f.gender.errors }}</font></b>{% endif %}
</div>

{% endblock %}
