{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div id=fform1 style=top:-175px>
<h2>Describe the item you want to sell!</h2>
</div>

<div id=fform2 style='top:-190px;'>
<form method=POST action=''>
{{f.name}}<br><br>
{{f.description}}<br><br>
{{f.phone}}<br><br>
<font color=#0DFF00><b>$ </b></font>{{f.price}}<br><br>
<input type=submit value="Post it!" name='salepost'>
{% else %}
<div id='blockedsell'>
Please <a href='{% url login %}'>LOGIN</a><br>to sell your stuff!
</div>
{% endif %}
</div>

{% endblock %}
