{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div id='sellform'>
<span style='position:relative; font-family: "Pirata One", cursive; font-size:45px; position:relative; top:-8px;'>Post your book for sale!</span>
<hr>
<form method='POST' action=''>
Enter Title: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{f.title}}
<hr>
How much are you asking for it?: {{f.price}}
<br><hr>
Phone # (4 <font color='black'>BUYERS</font> 2 text u): &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{f.phone}}
<br><hr>
How's its condition?: {{f.condition}}
<br><hr>
Book's Department?: {{f.department}}
<br><hr>
<font size='4' color='black'><b><span style='text-decoration:blink; color:white;'>NOTE!!! </span><br>AIN'T NOBODY OUTSIDE WHITTIER COLLEGE can see your contact info<br><span style='color:white'>That's why we require a poet's email to register :)</span><br><span style='color:black'>Buyers interested in your book will contact you at your above phone #</span></b></font>
<br><hr>

<span class='sellbutton' style='position:relative; top:12px;'>
<input type='submit' value='Post Book' name='submit'>
</span>
{% else %}
<div id='blockedsell'>
Please <a href='{% url login %}'>LOGIN</a><br> to start selling your books!
</div>
{% endif %}
</form>
</div>

{% endblock %}
