{% extends 'base.html' %}

{% block content %}

<div id=success style='position:relative; top:-75px;'>
<font color=cyan><b>Success!!</b></font><br><br>

<span class=sakdjldkja style='position:relative;top:-150px;'>
<br>
<font size=5 color=yellow>{{succ1}}<br><span class=vvsdj style='position:relative;top:-60px'>{{succ2}}<font color=cyan>{{succ3}}</font>{{succ4}}</span>
</font>

<!--Awesome! Now you can browse books, or go to your <a href='profile/{{user.id}}'>Profile!</a>-->
</span>
</div>




{% endblock %}
